{% extends 'asheeme/base.html' %}

{% load static %}
{% block title %} Sobre Nosotros {% endblock %}

{% block content %}
       <!-- Container-->
       <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h3><div class="card mb-3" style="max-width: 22rem;">
                  
                  <div class="card-block">
                    <div class="">
                      <img class="card-img-top" src="{% static 'asheeme/img/Nosotros/Leonardo_Pizarro.jpg' %}" alt="Imagen">
                    </div>
                    <p class="card-text"><b>Leonardo Pizarro</b> <br> Analista Programador Computacional <br>
                      20 Años
                    </p>
                  </div>
                </div></h3>
            </div>
            <div class="col">
              <h3><div class="card mb-3" style="max-width: 22rem;">               
                <div class="card-block">
                  <div class="">
                    <img class="card-img-top" src="{% static 'asheeme/img/Nosotros/Damari_Oyarce.jpg' %}" alt="Imagen">
                  </div>
                  <p class="card-text"><b>Damari Oyarce</b> <br> Analista Programador Computacional <br>
                    24 Años
                  </p>                                                
                </div>
              </div></h3>
          </div>
          <div class="col">
            <h3><div class="card mb-3" style="max-width: 22rem;">              
              <div class="card-block">
                <div class="">
                  <img class="card-img-top" src="{% static 'asheeme/img/Nosotros/Luis_Serrano.png' %}" alt="Imagen">
                </div>
                <p class="card-text"><b>Luis Serrano</b> <br> Analista Programador Computacional <br>
                  21 Años
                </p>                                            
              </div>
            </div></h3>
        </div>
    </div>
</div>
      
{% endblock %}

{% block scripts %}
    
{% endblock %}
