{% extends 'asheeme/base.html' %}

{% load static %}
{% block title %} Mujer | Poleras {% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row  text-white rounded p-5 mt-4 mb-4" style="background-color: #b8b5ff;">
            <h1>Poleras de Mujer</h1>
        </div>
        <div class="row">
            {% if 'ok' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> <i class="fas fa-upload"></i> </strong>Producto subido correctamente!!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if 'fail' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><i class="far fa-window-close"></i></strong>ID en uso o el programa murio...
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <div class="table-responsive">
                <table id="tabla_productos" class="table table-striped table-hover" >
                    
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            
                          </div>
                          <div class="col-sm">
                            {% for producto in productos %}
                                
                                {% if producto.tipo.nombreTipo == "Polera Mujer" %}
                                    
                                 
                                <h3><div class="card mb-3-justify-content-center" style="width: 350px;">
                                    <div id="carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                        
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                        {% if producto.imagen %}
                                            <img class="img-producto" style="width: 100%;" src="{{producto.imagen.url}}" alt="">
                                        {% else %}
                                            <img class="img-producto" style="width: 100%;" src="{% static 'asheeme/img/image_not_found.jpg' %}" alt="">
                                        {% endif %}   
                                        
                                        </div>
                                        
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                    <p class="card-text">
                                        {{producto.marca}}  
                                        {{producto.descripcion}}
                                        
                                        <br><b id="1"> {{producto.precio}}</b>
                                        
                                    </p>
                                    <a class="btn btn-info" href="{% url 'product-update' producto.idProducto %}"><i class="fas fa-user-edit"></i></a>
                                    <a class="btn btn-danger" href="{% url 'product-delete' producto.idProducto %}"><i class="fas fa-trash"></i>                                    </a>
                                    <div class="card-footer">
                                        
                                        <a class="boton_personalizado" href="#">Agregar al carro</a>
                                    </div>
                                    </div>
                                </div></h3>
                                    
                                {% endif %}
                                
                                
                            
                            {% endfor %}
                          </div>
                          <div class="col-sm">
                            
                          </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'asheeme/js/my_scripts.js' %}"></script>
{% endblock %}
